/* this works with up to 5 menu levels */
/* to increase it up to more levels just copy the last line and add "li.menuactive ul" */
/* (this might be similar to the default stylesheets of the default CSS dropdown menu) */

html {
    font-family:'Trebuchet MS', Arial;
    font-size:12px;
}

#menu  {
width: 400px; /* set width of menu */
display: block;
margin:0;
padding: 0;
} 


#menu h2
{
	cursor:pointer;
	background-color: #CCCCCC;
	padding: 2px;
 
}

#menu h3
{
	cursor:pointer;
}

#menu ul li {
list-style:none;
margin:0 0 1px 0;
}

#menu li ul {
display: none;
margin:0 0 1px 0;
padding-left:0px;
}

#menu li li {
list-style-position: inside;
margin:0; list-style:none;
}

a {
color: black; 
}

/* second level overrides*/
